Host prod
  HostName ocean2joy.com
  User developer1
  IdentityFile ~/.ssh/developer1_fullkey
  IdentitiesOnly yes

Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes
